/* 
Custom CSS
*/

/* To center images */
.center {
    text-align: center;
}

.social-icons {
	padding: 0 0 0 0;
}
.site-subtitle {
	color: #666;
	font-size: 0.75rem;
}


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}